.DocsMainItems {
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.removeListDots{
  list-style-type: none;
  margin-top: 5%;
}
.removeListDots:hover{
  background: linear-gradient(263.2deg, #b445a3 -4.72%, #464a9b 94.44%);
  border-radius: 5px;
  
}
.paddingMargin{
  background: linear-gradient(263.2deg, #b445a3 -4.72%, #464a9b 94.44%);
  border-radius: 5px;
  margin-top: 5%;
  padding: 10px 15px;
}
.adjustment{
  padding: 9px 12px;
}
.DocsMainInnerItems {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
li::marker {
  color: #A946A3;
  font-size: 25px;
}
#docssidebar{
  margin-top: 50px;
}