@import "./variables.scss";

.bg-dark {
  background-color: $bg-nav !important;
}
.navColorChange {
  background: linear-gradient(263.2deg, #b445a3 -4.72%, #464a9b 94.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
  padding: 0 20px;
  font-family: "Poppins";
}
.navColorChange :hover {
  color: $white-color;
}

.homeNav {
  box-shadow: $box-shadow;
  position: fixed;
  z-index: 2;
  width: 100vw;
  padding: 1rem 0;

  .navbar-nav {
    .nav-link {
      font-size: 18px;
      color: $white-color;
      padding: 0 20px;
      font-family: "Poppins";
    }
    .nav-item :hover {
      color: #b445a3;
      font-weight: 800;
    }
  }
.navToggleBtn{
  font-size: 24px;
}
  .navbnt_start {
    font-family: "Poppins";
    font-size: 18px;
  }
  .btn-primary:hover {
    background: #b445a3 !important;
  }
  
}
.navDropdownBtn{
  display: none;
}
@media only screen and (max-width:380px){
  .navToggleBtn{
    border: 0;
    padding: 0;
  }
  .navBarBtn{
    display: none;
  }
  .navDropdownBtn{
    display: unset;
     font-size: 32px;
    text-align: end;

   
  }
}
@media only screen and (min-width: 2460px) {
 
    .nav-link {
      font-size: 28px !important;
    }
    .navbnt_start {
      font-size: 28px !important;
    }
}
