$primary-font: Poppins;

$base-color: #191437; // also for volume bg //
$bg-herosec: #241a46; // also for footer bg, table td //
$bg-nav: #331e55;
$bg-card: #39205cb0;
$bg-badge: #39205cb0;

$primary-color: linear-gradient(263.2deg, #b445a3 -4.72%, #464a9b 94.44%);
$secondary-color: #795fab; // for borders, btns
$optional-color: linear-gradient(263.2deg, #c5d0e2 -4.72%, #b2b4d1 94.44%);
$primary-hover-color:#B445A3;

$modal-bg-color:rgba(57, 32, 92, 0.6);

$gray-color: #aea5bc;
$white-color: #fff;
$bg-table: linear-gradient(263.2deg, #2f2359 -4.72%, #3e335f 94.44%);
$bg-btn-table: rgb(57, 32, 92); // for POPup,small btn  also//

$box-shadow: 0px 4px 40px 0px #18153233;
$backdrop-filter: blur(24px);
